{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<form method='POST'>
    {% csrf_token %}
    {{ form|bootstrap }}
    <button type="submit">Salvar</button>
</form>
<br>
<br>

<h2>Documentos</h2>
<ul>

    {% for document in object.document_set.all %}
    <p>
        <a href="{{document.file.url}}">
            <li>{{document}}</li>
        </a>
    </p>
    {% endfor %}
</ul>
<br>
{% if object.pk %}
<a href="{% url 'documents:new' object.pk %} " class="btn btn-success">
    Anexar Arquivo
</a>
{% endif %}
<br>
<br>


<h2>Banco de Horas</h2>
<ul>
    {% for time in object.overtime_set.all %}
    <p>

        {% if time.is_hours %}
            <li><a href="{% url 'overtime:update_return_employee' time.pk %}">{{time.reason}} | {{time.hours}}</a></li>

        {% endif %}


    </p>
    {% endfor %}
</ul>
<br>

<h3>Saldo de Horas Extra: {{object.overtime_total}}</h3>


{% endblock content %}
