{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-sm">
        <div class="col-sm">
            <p><a href="{% url 'reports:pdf_report_lab' %}">Gerenciar PDF Report Lab</a></p>
        </div>
    </div>
    <div class="col-sm">
        <p>Olá, {{user.employee.name}}</p>
        <p><a href="{% url 'employees:list' %}">Gerenciar Funcionários</a></p>
        <p><a href="{% url 'departments:list' %}">Gerenciar Departamentos</a></p>
        <p><a href="{% url 'overtime:list' %}">Gerenciar Banco de Horas</a></p>
        <p><a href="{% url 'reports:pdf_report_lab' %}">Gerenciar PDF Report Lab</a></p>
    </div>
    <div class="col-sm">
        <a href="{% url 'logout' %}">Logout</a>


        {% if user.employee.company %}
        <a href="{% url 'companies:edit' user.employee.company.pk %} ">Editar Empresa</a>
        {% else %}
        <a href="{% url 'companies:new' %} ">Criar Empresa</a>
        {% endif %}


    </div>
</div>
{% endblock content %}
