{% extends 'base.html' %}


{% block content %}

{% if object_list %}
{% for overtime in object_list %}
<p>
    <a href="{% url 'overtime:update' overtime.pk %} ">{{overtime}}</a>


    <a href="{% url 'overtime:delete' overtime.pk %}" class="btn btn-danger">Deletar</a>
</p>
{% endfor %}
{% else %}
Não existe Banco de Horas no Sistema
{% endif %}
<p>
    <a href="{% url 'overtime:new' %}" class="btn btn-success">Inserir</a>
    <a href="{% url 'reports:export_csv_overtime' %}" class="btn btn-info">Exporta CSV</a>
    <a href="{% url 'reports:export_excel_overtime' %}" class="btn btn-info">Exporta Excel</a>
</p>











{% endblock content %}
