{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block content %}
<form method='POST'>
    {% csrf_token %}
    {{ form|bootstrap }}
    <br>
    <p>
        <button type="submit" class="btn btn-success">Salvar</button>
        {% if object %}
        <a href="{% url 'overtime:delete' object.pk %}" class="btn btn-danger">Deletar</a>
        <button type="button" onclick="userOverTime('{{ object.pk }}')" class="btn btn-info">Baixa Hora Extra</button>
        <button type="button" onclick="userOverTime('{{ object.pk }}','up')" class="btn btn-primary">Restaura Hora Extra</button>

        {% endif %}
    </p>
</form>

<p id='message'></p>


{% endblock content %}


{% block js %}
<script src="{% static 'js/jquery-3.6-compressed.js' %}"></script>
<script src="{% static 'js/overtime_js/functions.js' %}"></script>
{% endblock js %}
